block variables

doctype html
html(lang=pugData.lang)
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width', initial-scale=1.0)
    meta(name='google', content='notranslate')
    title= title
    each stylesheet in pugData.files.stylesheets
      link(rel='stylesheet', href=stylesheet)
  body(id=auit)
    include ../includes/header
    main
      block content
    include ../includes/footer
    each js in pugData.files.jss
      script(src=js)
